version: '3.1'

services:
  postgres:
    container_name: binger_postgres
    image: postgres:latest
    healthcheck:
      test: [ "CMD", "pg_isready", "-q", "-d", "postgres", "-U", "root" ]
      timeout: 45s
      interval: 10s
      retries: 10
    restart: always
    environment:
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=password
    volumes:
      - ./tmp/db:/docker-entrypoint-initdb.d/d
    ports:
      - 5432:5432
    expose:
      - 5432
  redis:
    container_name: binger_redis
    image: redis:alpine
    command: redis-server
    ports:
     - 6379:6379
    volumes:
      - redis-data:/data
      - redis-conf:/usr/local/etc/redis/redis.conf
volumes:
  redis-data:
  redis-conf:
